/*
 *
 * Styles for the DSGN-470 Communication Design Final Project
 * Team: Umang Shukla, Rachael Tachie-Menson, David Songer
 *
 *
*/

/* === BOOTSTRAP OVERRIDES === */

.col-md-8, .col-md-4, .col-md-2, .team {
	min-height: 550px;
}
.col-md-6 {
	min-height: 300px;
}

/* === END BOOTSTRAP OVERRIDES === */


/* === FILLER CONTENT STYLES === */

.content-container {
	color: #fff;
}
.footer-content-container {
	/*margin: 5px;*/
	padding: 30px;
	/*border-radius: 5px;*/
}
.footer-content-container a {
	color: #fff;
}

@media (max-width: 991px) {

	.first-row .content-container {
		height: 300px;
	}
	.footer-content-container {
		height: 150px;
	}

}

/* === END FILLER CONTENT STYLES === */

.product {
	background: url('../img/run2.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
}
.tech {
	background: url('../img/vi_full_device-color.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
}
.testimonials {
	background: url('../img/in_the_wild.jpg');
	background-repeat: no-repeat;
	background-position: right center;
}
.team {
	background-color: #000;
}
.footer-container {
	background-color: #777;
}

.title-container {
	margin-top: 150px;
}
.title {
	font-size: 24px;
	font-family: 'Helvetica Neue LT Std'

}
.inactive .title {
	font-size: 14px;
}
.active .title {
	font-size: 48px;
}

/* === UTILITY CLASSES === */

.pushdown {margin-top: 76px;}
.margin-bottom-15px {margin-bottom: 15px;}
.margin-bottom-30px {margin-bottom: 30px;}
.margin-top-15px {margin-top: 15px;}
.margin-top-30px {margin-top: 30px;}
.last {margin-bottom: 0;}


.height-10px {height: 10px;}
.height-60px {height: 60px;}
.height-110px {height: 110px;}
.height-160px {height: 160px;}
.height-210px {height: 210px;}
.height-260px {height: 260px;}
.height-310px {height: 310px;}
.width-100 {width:100%;}


.center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}


.inline { display: inline;}
.left {float: left;}
.right {float: right;}
.block {display: block;}
.inline-block {display: inline-block;}


.inactive {opacity: 0.3;}
.weight-500 {font-weight: 500;}
.weight-900 {font-weight: 900;}

.color-primary {color: #000;} /* black */
.background-primary {background-color: #000;} /* black */
.color-secondary {color: #000;} /* black */
.background-secondary {background-color: #000;} /* black */
.color-tertiary {color: #000;} /* black */
.background-tertiary {background-color: #000;} /* black */

.logo {
	color: #fff;
	margin-top: 6px;
	font-size: 24px;
}
.logo-font {
	font-family: 'Arial', sans-serif;
}



/* === END UTILITY CLASSES === */
